# Automatiškai tvarkyti tekstinius failus
* text=auto

# Užfiksuoti specifinius failus kaip tekstą
*.java text diff=java
*.json text
*.toml text

# Užtikrinti, kad vaizdai ir garsai būtų traktuojami tik kaip binariniai (bin) failai
*.png binary
*.ogg binary
*.jar binary